/* Start View Movile */

.container-main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: var(--back-container-main);
}


.container-meme {
    width: 88%;
    height: 65vh;
    margin: 0% 5% 5% 5%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-text {
    width: 100%;
   height: 15%;
   padding-top: 5%;
   font-weight: 700;
   font-size: 1.5rem;
   background-color: white;
}


.image-meme {
    width: 100%;
    height: 70% ;
    background-color: black;
    
}

.button-download {
font-size: 1.1rem;
background-color: var(--back-button-download);
padding: 15px;
cursor: pointer;
transition: all 1s ease;
color: var(--color-button-download);

}

.button-download i{
    padding-right: 8px;
}


.button-download:hover{
    background-image: var(--background-image);
    border-radius: 12px;
    color: var(--color-button-download-hover);
}



@media (min-width:700px) {
    .container-main{
        height: fit-content;
    }
}

/* Final View Mobile */


/* Start View Destock */
@media (min-width: 1300px) {
    .container-main{
        width: 80%;
        padding-bottom: 10%;
        height: fit-content;
    }

    .container-meme{
        width: 60%;
        height: 90vh;
        }

        .button-download{
            margin-top: 1%;
        }

}

/* Final View Destock */