

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', 'Times New Roman', Times, serif;
}




button{
    cursor: pointer;
   border: none;
   outline: none;
}


.none{
    display: none;
}

input, select, textarea{
    border-radius: 3px;
    cursor: pointer;
    outline: none;  
}

textarea{
    resize: none;
    height: 35px;
    
}

body{
    background-color: var(--color-button-download);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

html,
body {
  height: 100vh;
  margin: 0;
}

