:root{
    /* Section Header */
    --back-container-header: #F6A867;
    --button-hover: #f8583f;
    --color-title: black;
    --color-title-efect: rgb(243, 230, 217);
    --color-title-efect2: rgb(207, 110, 19);
    /* Section Main */
    --back-container-main: #f3f2ac;
    --back-button-download: #1c6db8;
    --color-button-download: white;
    --color-button-download-hover: black;
    --border-input: 1px solid rgb(201, 188, 188);
    --background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #FA6E58 35%, #c8699e 52%, #8f74b4 71%, #414ebb 87%, #949ac9 100%);
    /* Section Images */
    --back-filters-inputs: #494c55;
    --input-background-hover: #F6A867;
}






.dark{
      /* Section Header */
      --back-container-header: #001826;
      --color-title: white;
      --button-hover: #F0810E;
      --color-title-efect: rgb(109, 100, 100);
      --color-title-efect2: #7B96B8;
       /* Section Main */
       --back-container-main: #053752;
       --back-button-download: #E5DE44;
       --background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
       --color-button-download:  black;
       /* --color-button-download-hover: */
       /* --border-input:  */
         /* Section Images */
         --input-background-hover: #7ea5c9;
         --back-filters-inputs: #9a9da8; 

}